
/* .tp-caption.tp-shape.tp-shapewrapper{
    background-color: rgba(255,152,0,0.8) !important ;
} */

#slide-67-layer-1{
background-color: rgba(255,152,0,0.1) !important ;
}

#slide-67-layer-2, #slide-67-layer-3{
background-color: rgba(255,152,0,0.8) !important ;
}


.sw_contact_form_wrapper, .sw_new_letter_index {
    background:#f9a519 !important;

}
/*///////////////////////////////// PRELOADER//////////////////////////////////// */
@media (max-width: 991px) {#preloader_image{
    width: 150px;
}
}
@media (min-width: 992px) {#preloader_image{
    width: 200px;
}
}




/*///////////////////////////////// HEADER//////////////////////////////////// */

.mean-container a.meanmenu-reveal {
    background: rgba(255,152,0,0.8) !important;
}

@media (max-width: 991px) {.bt_main_menu_wrapper {
    padding-top: 0px !important;
    padding-bottom : 4px !important;
}
}

.mean-container .mean-bar { 
    top: -77px !important;
}

@media (min-width: 992px)
{.main-menu-wrapper {
    padding-top: 5px !important;
    padding-bottom: 0 !important;
}
}

.transparent-menu.header-area.hidden-menu-bar.stick.menu_fixed.animated.fadeIn {
    height: 90px !important;
}
.transparent-menu.header-area.hidden-menu-bar.stick .container {
    padding: 0px 5px !important;
}

/* ///////////////////////////////////logo/////////////////////////////////// */


@media (max-width: 991px){
    .mobile-logo img {
        z-index: 100;
        position: relative;
        float: left;
        width: 180px;
        top: 0px;
    }
    
    .full-logo img{
        display: none;
    }
    
    
    }
    
    @media (min-width: 991px){
        .mobile-logo img {
            display: none;
        }
    }
/* /////////////////////////////////////////// PLACEHOLDER ///////////////////////////////////////// */


    ::placeholder {
        color: #f9a519 !important; 
    }

    .white-plc::placeholder {
        color:white !important; 
    }
    .white-plc:focus::placeholder {
        color:#f9a519 !important; 
    }

    .tp-caption a{
    color:#f9a519 !important;
    }
    .tp-caption a:hover,
    .tp-caption a:focus {
    color: #1d3571 !important;
    text-decoration: none !important;
}
