
/* .tp-caption.tp-shape.tp-shapewrapper{
    background-color: rgba(255,152,0,0.8) !important ;
} */

#slide-67-layer-1{
background-color: rgba(255,152,0,0.1) !important ;
}

#slide-67-layer-2{
background-color: rgba(255,152,0,0.8) !important ;
}

#slide-67-layer-3{
background-color: rgba(255,152,0,0.8) !important ;
}

.sw_new_letter_index {
    background: rgb(255,152,0) !important ;

}


.mean-container a.meanmenu-reveal {
    background: rgba(255,152,0,0.8) !important;
}


